@tailwind base;
@tailwind components;
@tailwind utilities;

/* 滚动条样式 */
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fafafa;
}

::-webkit-scrollbar-track:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #aaa;
  width: 6px;
  height: 8%;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-thumb:active {
  background-color: #666;
}
